@{
    ViewBag.Title = "Contact";
}
<h3>Thông tin liên hệ</h3>

<address>
    Trần Quang Huy
    <br />
    <abbr title="Phone">Điện thoại:</abbr>
    081 288 3636
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:TQH@gmail.com">TQH@gmail.com</a><br />
</address>